# -----------------------------------------------------
# PPT
# -----------------------------------------------------
# 日志文件输出等级
log.level.file=DEBUG
# PPT 全局制作流程配置
ppt.general.procedurePath=config/worship-procedure.xml
## 全局字体
ppt.general.fontFamily=Microsoft YaHei
## 全局阶段封面字号
ppt.general.stepCover.fontSize=60.0
## 全局经文标题
ppt.general.titleSize=40.0
## 全局经文(读经 证道经文除外)
ppt.general.scriptureSize = 35.0
## 段落中的占位符
ppt.general.placeholder={}
ppt.general.language=zh-CN

# PPT 幻灯片母版
## 通用的模板
ppt.master.worshipFilePath=PPT模板/worship.pptx
## 入会模板
ppt.master.initiationFilePath=PPT模板/initiation.pptx
## 模板中最常用的幻灯片版式
ppt.master.generalLayout.name=带十字架正文
## 入会幻灯片的序号
ppt.master.initiation.poetrySlide.order=32

# PPT 认罪
## 认罪经文字号
ppt.confess.fontSize=32.0
## 认罪经文标题字号
ppt.confess.titleSize=40.0

# PPT 赦罪
## 赦罪经文的行距。若值大于或等于0，则表示多少倍行距，小于0则其绝对值表示多少磅行距
ppt.forgiveSinsScripture.lineSpacing=120.0

# PPT 诗歌：标题
## 标题文字字体
ppt.poetryTitle.fontFamily=Microsoft YaHei
## 标题文字大小
ppt.poetryTitle.fontSize=55.0

# PPT 诗歌：歌谱图
## 扩展名
ppt.poetry.extension=.png
## 存放乐谱的子目录
ppt.poetry.subDictionary=ppt
## 检查诗歌面板祷告诗歌信息合法性
ppt.poetry.checkPrayPoetryList=false
## 宽度（单位：厘米）
ppt.poetry.width=33.87
## 位置（单位：厘米）
ppt.poetry.left=0.0
ppt.poetry.top=0.0

# PPT 诗歌：清单
## 表格的位置和大小（单位：厘米）
ppt.poetryContent.x=1.9
ppt.poetryContent.y=3.0
ppt.poetryContent.w=28.2
ppt.poetryContent.h=7.32
## 多少列
ppt.poetryContent.colCount=2
## 标题文字大小
ppt.poetryContent.titleFontSize=28.0
## 正文文字大小
ppt.poetryContent.fontSize=23.0
##\u3000正文缩进多少（单位：厘米）
ppt.poetryContent.leftInset=1.2
## 正文段落前间距多少（单位：磅）
ppt.poetryContent.spaceBefore=-9.0

# PPT 读经
## 读经经文字体大小
ppt.readingScripture.fontSize=35.0

# PPT 宣信
## 指定宣信主题，请在制作之前修改(西敏信条、(待扩展))
ppt.declaration.method=西敏信条

# PPT 证道
## 证道经文字体大小
ppt.preachScripture.fontSize=35.0

# PPT 宣召
## 宣召经文字体大小
ppt.summonScripture.fontSize=35.0


# 圣餐：诗歌
## 歌谱图的垂直位置（单位：厘米）
ppt.holyCommunion.poetry.top=2.18


# 圣餐：非会友领餐名单表格
## 表格的位置和大小（单位：厘米）
ppt.holyCommunion.nameList.x=0.82
ppt.holyCommunion.nameList.y=3.75
ppt.holyCommunion.nameList.w=23.52
ppt.holyCommunion.nameList.h=1.64
## 多少列
ppt.holyCommunion.nameList.colCount=5
## 正文文字大小
ppt.holyCommunion.nameList.fontSize=28.0

# -----------------------------------------------------
# 数据库
# -----------------------------------------------------
bible.SQLite.path=数据库/和合本.db
confession.SQLite.path=数据库/信章信条.db

# -----------------------------------------------------
# 经文模板
# -----------------------------------------------------
# 用正则表达式表示可删除的字符
scripture.regex=(</?[a-zA-Z]+>)|(\u3000)|(（细拉）)